<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fan.campushelperserver.mapper.UniversityMapper">

    <select id="getAllUniversityNames" resultType="String">
        SELECT university FROM CampusHelper.universities
    </select>

    <select id="checkUniversityExists" parameterType="String" resultType="boolean">
        SELECT count(*) > 0 FROM universities WHERE university = #{university}
    </select>

    <insert id="insertUniversity" parameterType="cn.fan.campushelperserver.model.entity.University">
        INSERT INTO universities (university,province,city,updatedByName,updatedByUuid,updatedAt) VALUES (#{university}, #{province},#{city},#{updatedByName},#{updatedByUuid},#{updatedAt})
    </insert>

    <select id="findAll" resultType="cn.fan.campushelperserver.model.entity.University">
        SELECT * FROM universities
    </select>

    <select id="getUniversityAmount" resultType="int">
        SELECT COUNT(*) FROM universities
    </select>
</mapper>